<section id="GUI" class="light" @fadeIn>
  <div class="jumbotron page-header">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h3>Send</h3>
        <span class="text-small font-weight-light">{{ spendableBalance | coinNotation }} {{ coinUnit }} available</span>
      </div>
      <div class="btn-group btn-group-toggle">
        <label [ngClass]="{'active' : selectedTab === 'Standard'}" class="btn btn-outline-primary">
          <input type="radio" name="options" (click)="switchForms('Standard')">Standard
        </label>
        <label [ngClass]="{'active' : selectedTab === 'Sidechain'}" class="btn btn-outline-primary">
          <input type="radio" name="options" (click)="switchForms('Sidechain')">Cirrus
        </label>
        <label *ngIf="!testnetEnabled" [ngClass]="{'active' : selectedTab === 'Interoperability'}" class="btn btn-outline-primary">
          <input type="radio" name="options" (click)="switchForms('Interoperability')">InterFlux
        </label>
      </div>
    </div>
  </div>
  <section id="content" class="col-12 mx-auto page-content">
    <div class="card card-flat mb-5 send-card">
      <div class="card-body">
        <div class="form-group clearfix mb-0">
          <div *ngIf="selectedTab === 'Standard'">
            <app-send-default></app-send-default>
          </div>
          <div *ngIf="selectedTab === 'Sidechain'">
            <app-send-sidechain></app-send-sidechain>
          </div>
          <div *ngIf="selectedTab === 'Interoperability' && !testnetEnabled">
            <app-send-interoperability></app-send-interoperability>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
