<div class="modal-header">
  <h5 class="modal-title">Cold Staking Setup</h5>
  <button type="button" class="close closemodal ml-auto" (click)="activeModal.close('Close click')">
    <i class="lnr lnr-cross-circle"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    In order to set up cold staking you need to run a hot staking node and have a cold wallet containing the funds you want to stake.
  </p>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Hot staking node
        </div>
        <div class="card-body">
          You can only stake funds in your cold wallet when this node is online and actively staking.
          A hot staking node is required prior to setting up your cold wallet.
          If you're using a third party service to run the hot staking node, you can skip this step and get the hot staking address from the service.
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-header">
        Cold wallet
      </div>
      <div class="card-body">
        If you want to set up a cold wallet on this device, click create cold staking wallet.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary btn-block" (click)="openHotStakingCreate()">Create hot staking node</button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary btn-block" (click)="openColdStakingCreate()">Create cold staking wallet</button>
    </div>
  </div>
</div>
