<div class="modal-header">
  <h5 class="modal-title">Hot Staking Address</h5>
  <button type="button" class="close closemodal ml-auto" (click)="activeModal.close('Close click')">
    <i class="lnr lnr-cross-circle"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row mt-2">
    <div class="col-6">
      <label>{{ address }}</label>
    </div>
    <div class="col-6">
      <button class="btn btn-primary left ml-10" (click)="copyToClipboardClicked(address)">Copy Address</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary btn-block col-3" (click)="activeModal.close('Close click')">OK</button>
</div>
