<div>
  <div class="card card-staking">
  <div class="stake-type text-right">
    <span class="badge badge-cold ml-auto">Cold Wallet
      <span data-placement="top" class="lnr lnr-question-circle ml-2"></span>
    </span>
  </div>
  <div *ngIf="hasColdStaking">
    <div class="card-header">Balance</div>
    <div class="card-body">
      <p class="lead">
        <strong>{{ coldStakingBalance || 0 | coinNotation }}</strong>
      </p>
    </div>
  </div>
  <div>
    <div class="card-header">Cold staking status</div>
    <div class="card-body" *ngIf="!coldStakingInfo.coldWalletAccountExists && !coldStakingInfo.hotWalletAccountExists">You have no cold staking setup.</div>
    <div class="card-body" *ngIf="coldStakingInfo.coldWalletAccountExists">This wallet has been set up as a cold staking wallet</div>
    <div class="card-body" *ngIf="coldStakingInfo.hotWalletAccountExists">This node has been set up as a cold staking node</div>
  </div>
  <!-- <div class="card-footer" *ngIf="(coldStakingInfo| async) as _coldStakingInfo"> -->
  <div class="card-footer">
    <div class="row justify-content-center">
      <button *ngIf="coldStakingInfo.coldWalletAccountExists" type="button" class="btn btn-outline-primary col-4" (click)="withdrawClicked()">Withdraw</button>
      <button *ngIf="coldStakingInfo.hotWalletAccountExists" type="button" class="btn btn-outline-primary col-7 ml-2" (click)="unusedAddressClicked()">Get hot staking address</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="row d-flex align-items-center">
            <div class="col text-right">
                <button class="btn btn-link mb-2" style="display: inline-block" (click)="onSetup()">+
                    Create Coldstaking Setup</button>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>
