<div>
  <div class="card card-staking">
  <div class="stake-type text-right">
    <span class="badge badge-cold ml-auto">Cold Wallet
      <!-- <span data-placement="top" class="lnr lnr-question-circle ml-2"></span> -->
    </span>
  </div>
  <div *ngIf="hasColdStakingSetup">
    <div class="card-header">Balance</div>
    <div class="card-body">
      <p class="lead">
        <strong>{{ coldStakingBalance || 0 | coinNotation }}</strong>
      </p>
    </div>
  </div>
  <div>
    <div class="card-header">Cold staking status</div>
    <div class="card-body" *ngIf="!hasColdStakingAccount && !hasHotStakingAccount">You have no cold staking setup.</div>
    <div class="card-body" *ngIf="hasColdStakingAccount">This wallet has been set up as a cold staking wallet</div>
    <div class="card-body" *ngIf="hasHotStakingAccount">This node has been set up as a hot staking node. Make sure to enable staking in the Hot Wallet section.</div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row d-flex align-items-center">
        <div class="col text-right">
          <button *ngIf="hasColdStakingAccount" type="button" class="btn btn-outline-primary" (click)="withdrawClicked()">Withdraw from cold wallet</button>
          <button *ngIf="hasHotStakingAccount" type="button" class="btn btn-outline-primary" (click)="unusedAddressClicked()">Get new hot node address</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="row d-flex align-items-center">
            <div class="col text-right">
                <button class="btn btn-link mb-2" style="display: inline-block" (click)="onSetup()">+
                    Create Coldstaking Setup</button>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>
