<div class="card card-staking">
  <div class="stake-type text-left mb-3">
    <span class="badge badge-hot ml-auto">Hot Wallet</span>
  </div>
  <div class="card-header">Balance</div>
  <div class="card-body">
    <p class="lead">
      <strong>{{ (amountConfirmed | coinNotation) || (0 | coinNotation) }}</strong>
      <small class="text-uppercase"> {{ globalService.coinUnit }}</small>
    </p>
  </div>
  <div class="card-header">Mature for staking</div>
  <div class="card-body">
    <p
      class="sub">{{ (amountConfirmed - awaitingMaturityIfStaking | coinNotation) || (0 | coinNotation) }} {{ globalService.coinUnit }}</p>
  </div>
  <div class="card-header">Staking status</div>
  <div class="card-body">
    <p class="sub">{{ (stakingEnabled ? "Active" : "Inactive") }}</p>
  </div>
  <div class="card-header">Network weight</div>
  <div class="card-body">
    <p class="sub">{{ netStakeWeight | coinNotation }} {{ globalService.coinUnit }}</p>
  </div>
  <div class="card-body">
    <div *ngIf="!stakingEnabled && !stakingService.isStarting">
      <form class="form-inline mb-3" [formGroup]="stakingForm">
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" formControlName="walletPassword" class="form-control" id="inputPassword"
                  placeholder="Password">
          <button type="button" id="flipcard" class="btn btn-outline-primary ml-2"
                  [disabled]="!stakingForm.valid || stakingService.isStarting || walletService.isSyncing || walletService.ibdMode"
                  (click)="startStaking()">Unlock
          </button>
        </div>
      </form>
      <label *ngIf="walletService.isSyncing || walletService.ibdMode" class="alert alert-warning py-1">Staking can only be started when the wallet is completely synchronized.</label>
    </div>
    <div *ngIf="stakingEnabled">
      <button type="button" class="btn btn-outline-primary mb-3" [disabled]="stakingService.isStopping"
              (click)="stopStaking()">Stop Staking
      </button>
    </div>
    <!-- <button data-toggle="modal" type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="unusedAddressClicked()">Get
        first unused address</button> -->
  </div>
</div>
